# Created by .ignore support plugin (hsz.mobi)
.idea/.name
.idea/dictionaries/
.idea/encodings.xml
.idea/fxbtg-m.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
assets/font/
index-sm.html
"\347\247\273\345\212\250\347\253\257\346\241\206\346\236\266\345\217\202\350\200\203/"
