.bar .icon-m {
    position: relative;
    z-index: 20;
    padding: .2rem .1rem;
    font-size: 3rem;
    line-height: 1.2rem;
}

.bar-tab .tab-item {
    color: #efeff4;
}

.logo {
    padding-top: .35rem;
}

.visi-fxbtg-tit1 {
    padding: 1rem;
}

.back-default, .back-gray, .back-primary, .back-success, .back-danger, .back-warning, .back-fxbtg, .back-time, .back-ok {
    color: #fff;
}

.visi-header {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ff931c;
    background-image: url(http://visdark.com/FXBTG-M/assets/img/grid.png), -webkit-linear-gradient(315deg, #ff1904 0, #ff931c 100%);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.good {
    font-size: 1rem;
}

.fxbtg-icon {
    width: 100%;
    height: 1.5rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.menu-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.line {
    height: .5rem;
}

.wrap-box {
    display: -webkit-box;
}

.flex-inner {
    -webkit-box-flex: 1;
    display: -webkit-box;
}

.flex-item {
    -webkit-box-flex: 1;
    position: relative;
}

.wrap-6 {
    -webkit-box-orient: horizontal;
}

.wrap-6 .flex-inner {
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
}

.wrap-6 .flex-inner:first-child {
    width: 66.6%;
}

.wrap-6 .flex-inner:last-child {
    width: 33.3%;
}

.wrap-6 .flex-item {
    padding-top: 100%;
}

.wrap-6 .flex-box2 .flex-item {
    padding-top: 50%;
}

.wrap-6 .flex-box2 {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.wrap-6 .flex-inner:first-child,
.wrap-6 .flex-box2 .flex-item:first-child {
    margin-right: 1px;
}

.wrap-6 .flex-box1,
.wrap-6 .flex-inner:last-child .flex-item:first-child,
.wrap-6 .flex-inner:last-child .flex-item:nth-child(2) {
    margin-bottom: 1px;
}